{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // entry
        "corejs": 3,
        "modules": false,
        "loose": true,
        "targets": "last 2 version"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-private-methods"
  ]
}
